/Affectation.class
/DonneesPourTester.class
/FirstYearStudent.class
/Motivation.class
/Person.class
/SecondYearStudent.class
/Student.class
/Subject.class
/Teacher.class
/ThirdYearStudent.class
/UseAffectation.class
/ContollerTest.class
/Controller.class
/Controller1.class
/Interface.class
/PersonForenameComparator.class
/PersonNameComparator.class
/StudentAbsenceComparator.class
/StudentGradesComparator.class
/StudentScholarYearComparator.class
/AffectationTest.class
/StudentTest.class
/AffectationTestOLD.class
/PersonTest.class
/FirstYearStudentTest.class
/SecondYearStudentTest.class
/ThirdYearStudentTest.class
/SaveData.class
/useMotivation.class
