/Affectation.class
/DonneesPourTester.class
/FirstYearStudent.class
/Motivation.class
/Person.class
/SecondYearStudent.class
/Student.class
/Subject.class
/Teacher.class
/ThirdYearStudent.class
/UseAffectation.class
